@font-face {
    font-family: "JosefineSans";
    src: url("../fonts/JOSEFIN_SANS/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/POPPINS/Poppins-Light.otf");
}

.level-main {
    position: absolute;
    z-index: 0;
}

.level-bg {
    position: relative;
    z-index: -1;
}

.font-josefin {
    font-family: 'JosefineSans', Arial, sans-serif;
    font-weight: bold;
}

.font-poppins {
    font-family: 'Poppins', Arial, sans-serif;
}

.subtitle {
    font-size: 5vw;
}

.normal-text {
    font-size: 4vw;
}

.white-shadow {
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
}

.blue-shadow {
    -webkit-filter: drop-shadow(0px 0px 4px #304f9e9b);
}

.offset-down-5 {
    top: 5vh;
}

.offset-down-10 {
    top: 10vh;
}

.offset-down-15 {
    top: 15vh;
}

.offset-down-20 {
    top: 20vh;
}

.offset-up-0 {
    top: 0vh;
}

.offset-up-5 {
    top: -5vh;
}

.offset-up-10 {
    top: -10vh;
}

.offset-up-15 {
    top: -15vh;
}

.offset-up-20 {
    top: -20vh;
}

.offset-up-25 {
    top: -25vh;
}

.offset-up-30 {
    top: -30vh;
}

.offset-up-35 {
    top: -35vh;
}


.offset-up-px-150 {
    top: -150px;
}

.offset-right-0 {
    right: 0;
}

.offset-right-30 {
    right: -30vw;
}

.offset-left-30 {
    right: 30vw;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.overlay-1{
    z-index: 1;
}
.overlay-2{
    z-index: 2;
}

.full-width {
    width: 100vw;
}

#bg-mountains {
    object-fit: cover;
}

#main-logo {
    width: 80vw;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
}

#white-stars1 {
    width: 11vw;
    height: auto;
}

#blue-stars1 {
    width: 11vw;
    height: auto;
}