.wrapper-outside-body {
    background-color: #fff;
}

#yt-video {
    width: 100vw;
    height: 60vw;
}

#mountains-separator1 {
    transform: rotateX(180deg); 
    z-index: 0;
}

#blue-stars2 {
    transform: rotateY(180deg); 
    width: 11vw;
    height: auto;
}



@media (min-width:992px) {

    #blue-stars2 {
        transform: rotateY(180deg); 
        width: 5vw;
        height: auto;
    }

    #yt-video {
        width: 100vw;
        height: 35vw;
    }

    
}

