#blue-stars-reversed {
    width: 10vw;
    height: auto;
    position: relative;
    top: -43vh;
    left: 32vw;
    transform: rotateY(180deg); 
    z-index: 1;
}

#girl-snowboard {
    width: 53vw;
    height: 37vh;
    object-fit: cover;
    object-position: 50% 50%;
}

#learn-more-btn {
    border-radius:.80rem;
    position: relative;
    top: 11vh;
}

#mountains-illustration2 {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 1;
    top: -18vh;
}

#real-mountains {
    position: fixed;
    height: 60vh;
    width: auto;
    z-index: -2;
}

.white-div {
    background-color: #fff;
    height: 10vh;
    z-index: -1;
    position: relative
}

.white-div2 {
    background-color: #fff;
    height: 2vh;
    z-index: -1;
    position: relative;
    top: -1vh;
}

.white-div3 {
    background-color: #fff;
    height: 2vh;
    z-index: -1;
    position: relative;
    top: -5vh;
}

.main-logo {
    width: 80vw;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
}

.bg-mountains {
    
    width: 100vw;
    height: auto;

}


.wrapper-outside-body {
    background-color: #fff;
}

.level-bg {
    position:absolute;
    z-index: 1;
    top: 2vh;
    left:0;
    right:0;
    bottom:0;
}

.level-main {
    position:relative;
    z-index: 2;
    top: -9vh;
}

.subtitle {
    color: white;
    font-size: 5vw;
    -webkit-filter: drop-shadow(0px 0px 4px #304f9e9b);
}

.white-stars {
    width: 11vw;
    height: auto;
    position: relative;
    top: -10vh;
    left: 26vw;
    -webkit-filter: drop-shadow(0px 0px 9px #304f9e);

}

.blue-stars {
    width: 10vw;
    height: auto;
    position: relative;
    top: 6vh;
    left: -36vw;
}

