@font-face {
    font-family: "JosefineSans";
    src: url("../fonts/JOSEFIN_SANS/JosefinSans-Bold.ttf");
}

@font-face {
    font-family: "Poppins";
    src: url("../fonts/POPPINS/Poppins-Light.otf");
}


#blue-stars-reversed {
    width: 10vw;
    height: auto;
    position: relative;
    top: -43vh;
    left: 32vw;
    transform: rotateY(180deg); 
    z-index: 1;
}

#girl-snowboard {
    width: 53vw;
    height: 37vh;
    object-fit: cover;
    object-position: 50% 50%;
}

#learn-more-btn {
    border-radius:.80rem;
    position: relative;
    top: 11vh;
}

#mountains-illustration2 {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 1;
    top: -18vh;
}

#mountains-illustration3 {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 1;
    top: -50vh;
}

#mountains-illustration2_white {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 0;
    top: -20vh;
}

#mountains-illustration2_white2 {
    width: 100vw;
    height: auto;
    position: relative;
    z-index: 0;
    top: -18vh;
}


#white-stars2 {
    width: 8vw;
    height: auto;
    position: relative;
    bottom: 20vh;
    left: 38vw;
    -webkit-filter: drop-shadow(0px 0px 9px #304f9e);
}

#white-stars3 {
    width: 11vw;
    height: auto;
    position: relative;
    top: 10vh;
    left: -36vw;
    -webkit-filter: drop-shadow(0px 0px 9px #304f9e);
    transform: rotateY(180deg); 
    z-index: 2;
}

.font-josefin {
    font-family: 'JosefineSans', Arial, sans-serif;
    font-weight: bold;
}

.font-poppins {
    font-family: 'Poppins', Arial, sans-serif;
}

.closer-top {
    position: relative;
    top: -25vh;
}

.wrapper-parallex {
    height: 100%;   
    width: auto;
    position: relative;
    right: 40vw;
    z-index: -1;
}

.wrapper-mountains {
    height: 100vh;
    width: 110vw;
    z-index:-2;
    position:fixed;
    background-image: url("../img/real-mountains.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    right: 0vw;
}

.real-mountains {
    position: fixed;
    height: 100vh;
    width: auto;
    z-index: -3;
}

.white-div {
    background-color: #fff;
    height: 10vh;
    z-index: -1;
    position: relative
}

.white-div2 {
    background-color: #fff;
    height: 4vh;
    z-index: -1;
    position: relative;
    top: -6vh;
}

.white-div3 {
    background-color: #fff;
    height: 6vh;
    z-index: -1;
    position: relative;
    top: -6vh;
}

.main-logo {
    width: 80vw;
    height: auto;
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
}

.yt-video {
    width: 90vw;
    height: 30vh;
    position: relative;
    top: -8vh;  
    z-index: 1;
}

.bg-mountains {
    
    width: 100vw;
    height: auto;

}

.wrapper-text {
    top: -5vh;
    position: relative;
}

.wrapper-outside-body {
    background-color: #fff;
}

.wrapper-outside-body2 {
    background-color: #9bb4df;
    height: 700px;
}

.wrapper-outside-body3 {
    height: 40vh
}

.wrapper-outside-body4 {
    background-color: #9bb4df;  
    position: relative;
    top: -70vh;
    padding-top: 20vh;
    padding-bottom: 0vh;
    z-index: 1;

}

.blue-bg {
    background-color: #9bb4df;
    position : relative;
    height : 40vh;

    top: -35vh;
    
}

.pic-gal {
    width: 40vw;
    height: auto;
}

.offset-up {
    position: relative;
    top: -65vh;
}

.offset-up2 {
    position: relative;
    top: -14vh;
}

.offset-up3 {
    position: relative;
    top: -35vh;
}

.offset-down {
    position: relative;
    top: 8vh;
}

.offset-down2 {
    position: relative;
    top: 9vh;
}

.offset-down3 {

    position: relative;
    top: 17vh;
    z-index: 2;
}

.offset-down4 {

    position: relative;
    top: 52vh;
    z-index: 1;
}

.level-bg {
    position:absolute;
    z-index: 1;
    top: 2vh;
    left:0;
    right:0;
    bottom:0;
}

.level-main {
    position:relative;
    z-index: 2;
    top: -9vh;
}

.subtitle {
    color: white;
    font-size: 5vw;
    -webkit-filter: drop-shadow(0px 0px 4px #304f9e9b);
}

.white-stars {
    width: 11vw;
    height: auto;
    position: relative;
    top: -10vh;
    left: 26vw;
    -webkit-filter: drop-shadow(0px 0px 9px #304f9e);

}

.university-wrapper-logo {

    width: 20vw;
    height: 20vw;
    overflow: hidden;
    background-position:center;

}

.university-logo {
    width: 17vw;
    height: auto;
    background-position:center;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.blue-stars {
    width: 10vw;
    height: auto;
    position: relative;
    top: 6vh;
    left: -36vw;
}

.wrapper-contact-title {

    position: relative;
    z-index: 2;
}

.slide img{
    object-fit: cover;
    width: 100%;
    height: 200px;
}
