

.slide img{
    object-fit: cover;
    width: 100%;
    height: 65vw;
}

@media (min-width:992px) {

    .slide img{
        object-fit: cover;
        width: 100%;
        height: 20vw;
    }
    
}
