.wrapper-outside-body-blue {
    background-color: #9bb4df;
}


#img-logo {
    width: 17vw;
    height: auto;
    background-position:center;
    padding-bottom: 3vw;
    padding-top: 3vw;
}

#wrapper-logos {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    background-position:center;
}

@media (min-width:992px) {

    #img-logo {
        width: 17vw;
        height: auto;
        background-position:center;
        padding: 3vw;
    }
    
}