.white-shadow {
    -webkit-filter: drop-shadow(0px 0px 7px #fff);
}

.white-shadow-stronger {
    -webkit-filter: drop-shadow(0 0 0.3rem #fff);
}

.blue-shadow {
    -webkit-filter: drop-shadow(0px 0px 4px #304f9e9b);
}

#bg-mountains {
    object-fit: cover;
}

#main-logo {
    width: 80vw;
    height: auto;
}

#white-stars1 {
    width: 11vw;
    height: auto;
}

#blue-stars1 {
    width: 11vw;
    height: auto;
}

@media (min-width:992px) {

    #main-logo {
        width: 60vw;
        height: auto;
    }

    #white-stars1 {
        width: 5vw;
        height: auto;
    }
    
    #blue-stars1 {
        width: 5vw;
        height: auto;
    }

    #bg-mountains {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

}