html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.App {
  text-align: center;
  position: relative
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper-mountains {
  z-index:-2;
  position:fixed;
  width: 100%;
  height: 100%;
  top: 0vw;
  right: 0vw;
}


.wrapper-mountains-img {
  z-index:-2;
  position:fixed;
  /* background-image: url("/src/assets/img/real-mountains.png"); */
  object-fit: cover; 
  object-position: 50% 30;
  width: 100%;
  height: 100%;
  top: 0vh;
  right: 0vw;
}

@media (min-width:992px) {

  .wrapper-mountains-img {
    z-index:-2;
    position:fixed;
    /* background-image: url("/src/assets/img/real-mountainsWEB.png"); */
    object-fit: cover; 
    object-position: 50% 30;
    width: 100%;
    height: 100%;
    top: 0vh;
    right: 0vw;
  }

}
